<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.aishenhuo.pc.api.myBatis.mapper.XcxInfoMapper">
  <resultMap id="BaseResultMap" type="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="surplus" jdbcType="TINYINT" property="surplus" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="vehicle" jdbcType="VARCHAR" property="vehicle" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="see" jdbcType="INTEGER" property="see" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="addtime" jdbcType="INTEGER" property="addtime" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, date, time, departure, destination, gender, name, phone, surplus, type, vehicle, 
    uid, status, see, price, addtime, avatarUrl
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xcx_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xcx_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xcx_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xcx_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfoExample">
    delete from xcx_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    insert into xcx_info (id, date, time, 
      departure, destination, gender, 
      name, phone, surplus, 
      type, vehicle, uid, 
      status, see, price, 
      addtime, avatarUrl, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{departure,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{surplus,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{vehicle,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{see,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{addtime,jdbcType=INTEGER}, #{avatarurl,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    insert into xcx_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="departure != null">
        departure,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="surplus != null">
        surplus,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="vehicle != null">
        vehicle,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="see != null">
        see,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="avatarurl != null">
        avatarUrl,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null">
        #{surplus,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="vehicle != null">
        #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="see != null">
        #{see,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="avatarurl != null">
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfoExample" resultType="java.lang.Integer">
    select count(*) from xcx_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xcx_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.departure != null">
        departure = #{record.departure,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null">
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.surplus != null">
        surplus = #{record.surplus,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.vehicle != null">
        vehicle = #{record.vehicle,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.see != null">
        see = #{record.see,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=INTEGER},
      </if>
      <if test="record.avatarurl != null">
        avatarUrl = #{record.avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update xcx_info
    set id = #{record.id,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      departure = #{record.departure,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      surplus = #{record.surplus,jdbcType=TINYINT},
      type = #{record.type,jdbcType=TINYINT},
      vehicle = #{record.vehicle,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      see = #{record.see,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      addtime = #{record.addtime,jdbcType=INTEGER},
      avatarUrl = #{record.avatarurl,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xcx_info
    set id = #{record.id,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      departure = #{record.departure,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      surplus = #{record.surplus,jdbcType=TINYINT},
      type = #{record.type,jdbcType=TINYINT},
      vehicle = #{record.vehicle,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      see = #{record.see,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      addtime = #{record.addtime,jdbcType=INTEGER},
      avatarUrl = #{record.avatarurl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    update xcx_info
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null">
        surplus = #{surplus,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="vehicle != null">
        vehicle = #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="see != null">
        see = #{see,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="avatarurl != null">
        avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    update xcx_info
    set date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      surplus = #{surplus,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      vehicle = #{vehicle,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      see = #{see,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=INTEGER},
      avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wang.aishenhuo.pc.api.myBatis.model.XcxInfo">
    update xcx_info
    set date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      surplus = #{surplus,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      vehicle = #{vehicle,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      see = #{see,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=INTEGER},
      avatarUrl = #{avatarurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>